
    <div class="bg-video overlay">
        <video loop muted autoplay playsinline="playsinline" class="fullscreen-bg__video">
            <source src="../../assets/bg-video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background-color: rgba(179, 18, 140, 0.4); color: white;">
        <div class="container">
        <h1 class="display-4">Spotify API</h1>
        <p class="lead">A test-app for the spotify api @ https://github.com/dhanush1993/sapi</p>
        </div>
    </div>
    <div class="col" style="display: flex; justify-content: center;" #buttonHolder id='buttonHolder'>
    </div>