<div class="row w-100 p-0 m-0">
    <app-titlebar class="col p-0 m-0"></app-titlebar>
</div>
<div class="row m-0 w-100 h-100">
    
    <app-services-available class="col-2 p-0" style="height: -webkit-fill-available;" (selectedService)='updateService($event)'></app-services-available>
    <app-response class="col-7 p-0" [response]='viewer$' style="height: -webkit-fill-available;"></app-response>
    <app-service-params class="col-3 p-0" [serviceObservable]='service$' (jsonResponse)='printResponse($event)'></app-service-params>
</div>
